GOOGLE_GENERATIVE_AI_API_KEY="YOUR_GOOGLE_GENERATIVE_AI_API_KEY"

DATABASE_URL="postgresql://postgres:password@host:6543/postgres?schema=topofmind"

DEEPGRAM_API_KEY="YOUR_DEEPGRAM_API_KEY"

S3_ENDPOINT="https://your-supabase-project-id.storage.supabase.co/storage/v1/s3"
BUCKET_NAME="topofmind"
NEXT_PUBLIC_STORAGE_PUBLIC_URL="https://your-supabase-project-id.supabase.co/storage/v1/object/public/topofmind"
S3_ACCESS_KEY_ID="YOUR_S3_ACCESS_KEY_ID"
S3_SECRET_ACCESS_KEY="YOUR_S3_SECRET_ACCESS_KEY"

